#cardapio {
  gap: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#btn_filtrar_icon {
  width: 25px;
  height: 25px;
  flex: 0 0 auto;
}

#campo_btn {
  width: 75%;
  display: flex;
  justify-content: space-between;
}

#campo_btn button {
  gap: 5px;
}

#caixa_pesquisa {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#caixa_pesquisa input {
  width: 100%;
  padding: 10px 5px;
  text-align: center;
}

#cards_produtos {
  gap: 40px;
  width: 75%;
  display: grid;
  max-width: 75vw;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

#btn_cardapio {
  gap: 10px;
  display: flex;
}

@media (max-width: 640px) {
  #btn_cardapio {
    flex-direction: column;
  }

  #campo_btn {
    gap: 10px;
    flex-direction: column-reverse;
  }
}
