#cardapio {
  gap: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#btn_filtrar_icon {
  width: 25px;
  height: 25px;
  flex: 0 0 auto;
}

#campo_btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#campo_btn button{
  gap: 5px;
}

#cards_produtos {
  gap: 40px;
  width: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#btn_cardapio {
  gap: 10px;
  display: flex;
}

@media (max-width: 1366px) {
  #cards_produtos {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .campo_btn {
    gap: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  #cards_produtos {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 560px) {
  #cards_produtos {
    grid-template-columns: 1fr;
  }

  #btn_cardapio {
    flex-direction: column;
  }
}
