.nav_menu_closed {
  gap: 20px;
  display: flex;
  align-items: center;
}

.nav_menu_closed a {
  text-decoration: none;
}

.nav_menu_open {
  left: 0;
  top: 10vh;
  gap: 15px;
  width: 100%;
  z-index: 100;
  display: flex;
  padding: 0 0 10px;
  position: absolute;
  align-items: center;
  flex-direction: column;
  background-color: var(--fundo-claro);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.nav_menu_open a {
  text-decoration: none;
}

#btn_icon {
  height: 40px;
  display: none;
  cursor: pointer;
  border-style: none;
  background-color: transparent;
  transition:
    scale 0.1s ease-in-out,
    filter 0.1s ease-in-out;
}

#btn_icon:hover {
  scale: 1.05;
  filter: brightness(8);
}

#navbar button {
  font-size: 1rem;
  border: 0;
}

@media (max-width: 768px) {
  .nav_menu_closed {
    display: none;
  }

  .nav_menu_open {
    left: 0;
    right: 0;
    top: 10vh;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
  }

  #btn_icon {
    display: block;
  }

  #navbar {
    flex-direction: column-reverse;
  }

  #navbar a,
  #navbar button {
    display: flex;
    width: 100%;
    justify-content: center;
    border-radius: 0;
  }
}
