#subheader {
  height: 10vh;
  min-height: 40px;
  display: flex;
  justify-content: center;
  background-color: var(--vinho);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#link {
  text-decoration: none;
  font-size: var(--tamanho-texto-navbar);
  font-weight: 500;
  color: var(--laranja);
  transition:
    transform 0.1s ease-in-out,
    color 0.1s ease-in-out;
}

#link:hover {
  transform: translateY(-4px);
  color: color-mix(var(--laranja), var(--fonte-clara));
}

#logo {
  width: 60%;
  transition: opacity 0.1s ease-in-out;
}

#logo:hover {
  opacity: 0.8;
}
