* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--fonte-escura);
  font-family: var(--font-fredoka);
  user-select: none;
}

html {
  scrollbar-width: auto;
  scroll-behavior: smooth;
  scrollbar-color: var(--laranja) var(--vinho);
}

:root {
  --vinho: #451201;
  --laranja: #ffa300;
  --fonte-clara: #fff;
  --fonte-escura: #000;
  --fundo-claro: #f1f1f1;
  --fundo-escuro: #232122;

  --tamanho-titulo: 3rem;
  --tamanho-sub-titulo: 2.5rem;
  --tamanho-titulo-card: 2rem;
  --tamanho-sub-titulo-card: 1.2rem;
  --tamanho-texto-btn: 1rem;
  --tamanho-texto-navbar: 1.1rem;
  --tamanho-texto-input: 1.05rem;
}

/* Estilo completo do Toast de Sucesso */
.Toastify__toast--success {
  font-weight: bold;
  color: var(--laranja) !important;
  background-color: #fff !important;
}

/* Barra de progresso laranja */
.Toastify__progress-bar--success {
  background: var(--laranja) !important;
}

/* Ícone laranja */
.Toastify__toast--success .Toastify__toast-icon svg {
  fill: var(--laranja) !important;
}

::selection {
  background-color: var(--laranja);
}

.layout_guide {
  width: 80%;
}

.btn1 {
  height: 40px;
  border: none;
  padding: 10px;
  display: flex;
  font-weight: 500;
  align-items: center;
  border-radius: 10px;
  text-decoration: none;
  justify-content: center;
  color: var(--vinho);
  background-color: var(--laranja);
  font-size: var(--tamanho-texto-btn);
  transition:
    transform 0.1s ease-in-out,
    box-shadow 0.1s ease-in-out,
    background-color 0.1s ease-in-out;
}

.btn1:hover {
  transform: translateY(-4px);
  background-color: color-mix(var(--laranja) 100%, var(--vinho) 10%);
}

.btn1:active {
  box-shadow: 0 5px 0 color-mix(var(--laranja) 25%, #000 25%);
}

.btn2 {
  height: 40px;
  border: none;
  padding: 10px;
  display: flex;
  font-weight: 500;
  align-items: center;
  border-radius: 10px;
  text-decoration: none;
  color: var(--laranja);
  justify-content: center;
  background-color: var(--vinho);
  font-size: var(--tamanho-texto-btn);
  transition:
    transform 0.1s ease-in-out,
    box-shadow 0.1s ease-in-out,
    background-color 0.1s ease-in-out;
}

.btn2:hover {
  transform: translateY(-4px);
  background-color: color-mix(var(--vinho) 100%, var(--laranja) 10%);
}

.btn2:active {
  box-shadow: 0 5px 0 color-mix(var(--vinho) 25%, #000 25%);
}

.btn3 {
  width: 50%;
  height: 40px;
  border: none;
  padding: 10px;
  display: flex;
  font-weight: 500;
  align-self: center;
  align-items: center;
  border-radius: 10px;
  text-decoration: none;
  justify-content: center;
  color: var(--vinho);
  background-color: var(--laranja);
  font-size: var(--tamanho-texto-btn);
  transition:
    transform 0.1s ease-in-out,
    box-shadow 0.1s ease-in-out,
    background-color 0.1s ease-in-out;
}

.btn3:hover {
  transform: translateY(-4px);
  background-color: color-mix(var(--laranja) 100%, var(--vinho) 10%);
}

.btn3:active {
  box-shadow: 0 5px 0 color-mix(var(--laranja) 25%, #000 25%);
}

.link {
  cursor: pointer;
  font-weight: 500;
  color: var(--vinho);
  font-size: var(--tamanho-texto-navbar);
  transition:
    color 0.1s ease-in-out,
    transform 0.1s ease-in-out;
}

.link:hover {
  color: var(--laranja);
  transform: translateY(-2px);
}

.icon {
  width: 25px;
  cursor: pointer;
  transition:
    scale 0.1s ease-in-out,
    filter 0.1s ease-in-out,
    transform 0.1s ease-in-out;
}

.icon:hover {
  filter: brightness(1.25);
  transform: translateY(-2px);
  scale: 1.1;
}

.form {
  gap: 30px;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.input {
  padding: 15px;
  min-height: 50px;
  max-height: 200px;
  font-size: var(--tamanho-texto-input);
  border-style: none;
  border-radius: 10px;
  outline: transparent;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.25);
  transition:
    outline 0.1s ease-in-out,
    box-shadow 0.1s ease-in-out;
}

.input:hover {
  box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.25);
}

.input:focus {
  outline: 2px solid var(--laranja);
}

.label {
  font-weight: 500;
  transition: color 0.1s ease-in-out;
}

.a_input {
  display: flex;
  font-weight: 500;
  color: var(--vinho);
  text-decoration: none;
  justify-content: flex-end;
  transition: color 0.1s ease-in-out;
}

.a_input:hover {
  color: color-mix(in srgb, var(--vinho) 100%, var(--laranja) 100%);
}

.input_campo {
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.input_campo:focus-within .label {
  color: var(--laranja);
}

.input_file {
  height: 40px;
  font-size: var(--tamanho-texto-input);
  border-style: none;
  border-radius: 10px;
  outline: transparent;
  transition: outline 0.1s ease-in-out;
}

.input_file::file-selector-button {
  height: 40px;
  border: none;
  padding: 10px;
  font-weight: 500;
  align-items: center;
  border-radius: 10px;
  text-decoration: none;
  justify-content: center;
  color: var(--vinho);
  background-color: var(--laranja);
  font-size: var(--tamanho-texto-btn);
  transition: background-color 0.1s ease-in-out;
}

.input_file::file-selector-button:hover {
  background-color: color-mix(var(--laranja) 100%, var(--vinho) 10%);
}

.checkbox {
  gap: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.checkbox_label {
  margin-left: 8px;
}

.card {
  gap: 20px;
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title1 {
  display: flex;
  font-weight: 600;
  color: var(--laranja);
  justify-content: center;
  text-transform: uppercase;
  font-size: var(--tamanho-titulo);
}

.title2 {
  display: flex;
  font-weight: 600;
  color: var(--laranja);
  justify-content: center;
  text-transform: uppercase;
  font-size: var(--tamanho-titulo-card);
}

.title3 {
  width: 100%;
  display: flex;
  padding: 10px 0;
  color: var(--fonte-clara);
  background-color: var(--vinho);
  justify-content: center;
  font-size: var(--tamanho-titulo-card);
}

.title4 {
  display: flex;
  font-weight: 600;
  justify-content: center;
  color: var(--fonte-clara);
  font-size: var(--tamanho-sub-titulo-card);
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.subtitle {
  display: flex;
  font-weight: 400;
  justify-content: center;
  color: var(--fonte-clara);
  font-size: var(--tamanho-sub-titulo-card);
}

.min_height {
  min-height: 65vh;
}

.less_bottom_margin {
  margin-bottom: -30px;
}
