#detalhe {
  display: flex;
  padding: 40px 0;
  justify-content: center;
  background-color: var(--fundo-claro);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#detalhe img {
  width: 75%;
  border-radius: 20px;
}

#card {
  max-width: 600px;
  overflow: hidden;
  border-radius: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  background-color: #fff;
}

#detalhe_card h1 {
  text-align: center;
  padding: 20px;
  color: var(--fonte-clara);
  width: 100%;
  background-color: var(--vinho);
}

#detalhe_card h3 {
  font-weight: 500;
}

#detalhe_1 {
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

#detalhe_2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
}

.detalhe_info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}