.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  max-height: 75vh;
  padding: 40px 0;
  background-color: var(--fundo-claro);
}

#banner_img {
  width: 75%;
  max-height: 400px;
  object-fit: contain;
  filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.35));
  transition: filter 0.15s ease-in-out;
}

#banner_img:hover {
  filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.5));
}

.destaques {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 250px;
  max-height: 75vh;
  padding: 40px 0;
  background-color: var(--fundo-escuro);
}

.cardapio {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 40px 0;
  background-color: var(--fundo-claro);
}

.cardapio .container {
  gap: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

#sub_grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item {
  position: relative;
  display: inline-block;
  overflow: hidden;
  transition:
    filter 0.1s ease-in-out,
    transform 0.1s ease-in-out;
}

.item:hover {
  filter: brightness(1.5);
  transform: translateY(-4px);
}

.item h3 {
  color: var(--fonte-clara);
  font-weight: 600;
  text-transform: uppercase;
}

.item p {
  color: var(--fonte-clara);
}

.opcao {
  display: block;
  width: 100%;
  border-radius: 20px;
}

.texto_esq {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 2;
  pointer-events: none;
}

.texto_dir {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 2;
  text-align: right;
  pointer-events: none;
}

.unidades {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  max-height: 20vh;
  padding: 40px 0;
  overflow: hidden;
  background-color: var(--fundo-escuro);
}

.unidades::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25)),
    url("../../../public/imgs/unidade.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: filter 0.25s ease-in-out;
}

.unidades:hover::before {
  filter: brightness(1.5);
}

.unidades > * {
  position: relative;
  z-index: 1;
}

.unidades ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.unidades li {
  color: var(--fonte-clara);
}
